@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import "tailwindcss";
@plugin "daisyui";

* {
     font-family: "Manrope", sans-serif;
}
.navposition {
     position: sticky;
     top: 0;
     z-index: 1000;
     background: white;
}